## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration import microsite %>

<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <!-- Footer -->
    <footer id="footer">
    <!--<div class="inline">
      <ul>
        <li><a id="about" href="${marketing_link('ABOUT')}">${_("About")}</a></li>
        <li><a id="faq" href="${marketing_link('FAQ')}">${_("FAQ")}</a></li>
      </ul>
    </div>-->
    <div class="inline_second">
      <ul class="icons">
        <li><a href="https://twitter.com/FormaCECEP" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/pages/CEC-EP-Forma/418594594963582?fref=nf" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://plus.google.com/u/0/b/114876074605648495410/114876074605648495410/posts" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCRLiYR0VIZe7PKXfXemNJ5g" class="icon circle fa-youtube"><span class="label">Youtube</span></a></li>
        <li class="nav-global-01"><a href="http://cec-iaen.edu.ec/">CEC-IAEN</a></li>
        <li class="nav-global-01"><a href="${marketing_link('ABOUT')}#faq">Preguntas Precuentes</a></li>
        <li class="nav-global-01"><a href="${marketing_link('TOS')}">Términos y Servicios</a></li>
      </ul>
    </div>
    </footer>
</div>
